<body>
	<div class="container">
		<h1 class="g-12 g-mobile-10">{{title}}</h1>
		<form class="ui-form">
			<div class="ui-form-field g-6 g-mobile-10">
				<div class="ui-textfield">
					<label for="rd">R&D </label>
					<input placeholder="10000" id="rd" required type="text" (keyup.enter)="getRD($event)"/>
				</div>
			</div>

			<div class="ui-form-field g-6 g-mobile-10">
				<div class="ui-textfield">
					<label for="adminstration">Administration</label>
					<input placeholder="10000" id="surname" required type="text" (keyup.enter)="getAdministration($event)"/>
        </div>
      </div>

			<div class="ui-form-field g-6 g-mobile-10">
				<div class="ui-textfield">
					<label for="marketing">Marketing</label>
					<input placeholder="10000" id="marketing" required type="text" (keyup.enter)="getMarketing($event)"/>
				</div>
      </div>

      <div class="ui-form-field g-6 g-mobile-10">
				<div class="ui-textfield">
					<label for="state">State</label>
					<input placeholder="State" id="state" required type="text" (keyup.enter)="getState($event)"/>
				</div>
      </div>

			<div class="ui-form-field g-8 ">
				<button type="button" class="btn btn-primary btn-lg ui-btn primary" (click)="calculate()">
          Predict Profit
        </button>
      </div>
      <div class="ui-form-field g-8 profitOutput">
        <p>Profit Amount: </p>
        <p>{{profit.total | number}}</p>
      </div>
		</form>
	</div>
</body>
